{% form_theme form 'bootstrap_4_layout.html.twig' %}

{{ form_start(form) }}
{# Affiche la balise <form>, définit les attributs action et method + si nécessaire l'attribut enctype #}
{{ form_errors(form) }}
{# Affiche les erreurs globales du formulaire #}

    {{ form_row(form.employeNom) }}
    {{ form_row(form.employePrenom) }}
    {{ form_row(form.employeTelephone) }}
    {{ form_row(form.employeMail) }}
    {{ form_row(form.login) }}
    {{ form_row(form.employeMdp) }}
    {{ form_row(form.employeAdresse) }}
    {{ form_row(form.employeCp) }}
    {{ form_row(form.employeVille) }}
    {{ form_row(form.roles) }}
    {{ form_row(form.StatutEmploye) }}

{{ form_rest(form) }}
{# Affiche tous les champs non explicitement affichés précédemment #}
{{ form_end(form) }}
{# Affiche la balise fermante </form> et surtout chaque champ qui n'a pas été explicitement affiché (sauf si form_rest()
a déjà été utilisé) ==> Utile notamment pour le champ CSRF qui n'est jamais explicitement affiché #}