{% extends 'Chauffeur/base.html.twig' %}

{% block body %}
    {{ dump(courses) }}
    {{ dump(user) }}

    <div class="wrapper">
        <div id="formContent">
            <div style="text-align: right">
                <a style="width: 25px; text-align: right" href="{{ url('app_logout') }}"><img src="{{ asset('assets/images/iconLogout.svg') }}"></a>
            </div>
            <img style="width: 100px" src="{{ asset('assets/images/Logo_VTC.png') }}">
            <h1>Bonjour {{ user.employePrenom }} !</h1>
            <div>
                <p>Vous êtes actuellement
                    <select id="mySelectStatut" onchange="statutChange()">
                        <option value="1">En ligne</option>
                        <option value="2">En course</option>
                        <option value="3" onclick="enPauseCheck()">En pause</option>
                        <option value="4" onclick="horsligneCheck()">Hors ligne</option>
                    </select>
                </p>
            </div>
            <p>Missions disponibles ({{ nbCourses }})
                <select id="mySelectAdresse">
                    {% set i = 1 %}
                    {% for course in courses %}
                        <option value="{{ course.idFacture.courseNumtransaction }}">{{ course.idAdressedepart.adresseAdresse }}</option>
                        {% set i = i + 1 %}
                    {% endfor %}
                </select>
            </p>
            <form style="display:flex">
                <input style="width: 150px; height: 50px" type="text" id="codeClient" name="codeClient" placeholder="Code client">
                <input style="width: 250px" type="submit" id="btnValiderCode" value="Valider" onclick="codeClientCheck()">
            </form>
            <form>
                <input id="btnValiderCourse" type="button" value="Finir course" onclick="FinCourseCheck()">
        </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script>
        document.getElementById("mySelectStatut").value = {{ user.StatutEmploye.idStatutemploye }}
        statutChange();
        function statutChange(){

            $.ajax({
                url: {{ url('updateStatus', {id:document.getElementById("mySelectStatut").value}) }},
                method: "GET",
                dataType: "json",
                success: function(data){

                }
            });

            if(document.getElementById("mySelectStatut").value == 1){

                document.getElementById('codeClient').disabled = false;
                document.getElementById("btnValiderCode").disabled = false;
                document.getElementById("btnValiderCourse").disabled = true;
                document.getElementById("mySelectStatut").disabled = false;
            }
            else if(document.getElementById("mySelectStatut").value == 3){
                document.getElementById("codeClient").disabled = true;
                document.getElementById("btnValiderCode").disabled = true;
                document.getElementById("btnValiderCourse").disabled = true;
                document.getElementById("mySelectStatut").disabled = false;
            }
            else if(document.getElementById("mySelectStatut").value == 4){
                document.getElementById("codeClient").disabled = true;
                document.getElementById("btnValiderCode").disabled = true;
                document.getElementById("btnValiderCourse").disabled = true;
                document.getElementById("mySelectStatut").disabled = false;
            }
        }

        function codeClientCheck(){
            if(document.getElementById("mySelectAdresse").value == document.getElementById('codeClient').value){
                document.getElementById("mySelectStatut").value = 2
                document.getElementById("codeClient").disabled = true;
                document.getElementById("btnValiderCode").disabled = true;
                document.getElementById("btnValiderCourse").disabled = false;
                document.getElementById("mySelectStatut").disabled = true;
            }
            else
                alert('Erreur code client')
        }

        function FinCourseCheck() {
            document.getElementById("mySelectStatut").disabled = true;
        }
    </script>

{% endblock %}