{% extends 'base.html.twig' %}
{% block body %}

        </br>

            <a href="{{ url('addEmploye') }}"><button type="button" class="btn btn-outline-dark pull-right"><i class="fa fa-plus"></i></button></a>

        </br>
        <table class="table table-hover">
            <thead>
                <tr class="table-active">
                    <th scope="col">Nom</th>
                    <th scope="col">Prenom</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
            {% for Employe in Employes%}
                <tr>
                    <td>{{ Employe.employeNom }}</td>
                    <td>{{ Employe.employePrenom }}</td>
                    <td><a href="{{ url('viewEmploye', { 'id': Employe.idEmploye }) }}"><i class="fa fa-eye"></i></a></td>
                    <td><a href="{{ url('editEmploye', { 'id': Employe.idEmploye }) }}"><i class="fa fa-pencil"></i></a></td>
                    <td><a data-toggle="modal" data-target="#exampleModal" data-id="{{ Employe.idEmploye }}" class="modalTest"><i class="fa fa-times"></i></a></td></tr>
            {% endfor %}
            </tbody>
        </table>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Supprimer</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Supprimer l'employé ?
                </div>
                <div class="modal-footer" id="footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                    <a id="aTest"><button type="button" class="btn btn-primary">Oui</button></a>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).on("click", ".modalTest", function () {
            var myBookId = $(this).data('id');
            $("#footer #aTest").attr("href","deleteEmploye/"+myBookId );
        });

    </script>
{% endblock %}